@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --color-paragraph: hsl(215, 51%, 70%);
    --color-ethereum: hsl(178, 100%, 50%);
    --color-background-body: hsl(217, 54%, 11%);
    --color-background-card: hsl(216, 50%, 16%);
    --color-line: hsl(215, 32%, 27%);
    --color-white: hsl(0, 0%, 100%);
}